/* Desktop */
@media screen and (max-width:1200px) {
    .container {
        max-width: 992px;
    }
}

/* Desktop */

/* IPAD-PRO */

@media screen and (max-width:1024px) {
    .container {
        max-width: 816px;
    }

    .col{
        width: 33.333333%;
    }
}

/* IPAD-PRO */

/* Планшеты и нэтбуки */

@media screen and (max-width:992px) {
    .container {
        max-width: 768px;
    }

    .col{
        width: 33.333333%;
    }
}

/* Планшеты и нэтбуки */

/* IPAD AIR и Galaxy Tab  */

@media screen and (max-width:820px) {
    .container {
        max-width: 620px;
    }

    .col{
        width: 33.333333%;
    }


}

/* IPAD AIR и Galaxy Tab  */



/* IPAD */
@media screen and (max-width:768px) {
    .container {
        max-width: 576px;
    }

    .col{
        width: 50%;
    }

}

/* IPAD */


/* Mobiles */
@media screen and (max-width:576px) {
    .container {
        max-width: 356px;
    }

    .col{
        width: 100%;
    }

    

}

/* Mobiles */


/* iphone 13 */
@media screen and (max-width:375px) {
    .container {
        max-width: 295px;
    }
    .col{
        width: 100%;
    }

}

/* iphone 13 */

/* max-width  - элементы применяют стили от старта указанного размера 
и его изменения в меньшую сторону */

/* min-width  - элементы применяют стили от старта указанного размера 
и его изменения в большую сторону */